<div class="card-background-page">
  <div class="ion-select-container">
    <ion-select [ngModel]="orderBy" (ionChange)="setOrderBy($event)">
      <ion-option value="timestamp">{{'ACTIVITIES_ORDER_BY_DATE' | translate}}</ion-option>
      <ion-option value="popularity">{{'ACTIVITIES_ORDER_BY_POPULARITY' | translate}}</ion-option>
    </ion-select>
  </div>
  <div class="activity-cards">
    <app-activity-card
      *ngFor="let activity of activities | async"
      [activity]="activity"
      (open)="openActivity(activity)">
    </app-activity-card>
  </div>
  <div id="create-activity-button-container">
    <span (click)="showCreateActivity($event)" id="create-activity-button">+</span>
  </div>
</div>
