ion-card.invitation-card {
  .background {
    opacity: 0.5;
  }

  .card-captain {
    position: absolute;
    right: 10px;
    top: 10px;
    color: gold;
    font-size: 1.3em;
  }

  .option-button {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: rgba(29, 123, 51, 0.75);
    text-align: center;
    border: 2px solid #53e34f;
    margin: 0 auto;
    span {
      top: 20px;
      font-size: 18px;
      position: relative;
    }

    &.reject {
      background-color: rgba(173, 38, 36, 0.6);
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 1);
      border: 1px solid #a0000d;
    }
  }
}
