.invitations {
  background-color: black;

  & > .background {
    opacity: 0.2;
    background: url('../assets/img/logo.png') no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .no-invitations {
    margin-top: 30px;
    color: white;
    ion-col {
      text-align: center;
    }
  }
}
