<ion-content class="invitations">
  <div *ngIf="!invitations.length">
    <div class="background-image"></div>
    <div class="empty">
      <ion-row>
        <ion-col>
          {{'INVITATIONS_NO_INVITATIONS_TITLE' | translate | uppercase}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button (click)="showCreateActivity($event)">{{'INVITATIONS_NO_INVITATIONS_CREATE_BUTTON' |
            translate}} >>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <app-invitation-card
    *ngFor="let invitation of invitations"
    [invitation]="invitation"
    (open)="openActivity(invitation.activity)"
    (reject)="reject(invitation)"
    (accept)="reject(accept)">
  </app-invitation-card>
</ion-content>
