<ion-card (click)="open.emit()" class="activity-card">
  <img src="assets/img/sports/{{activity.sport}}.jpg" class="background" *ngIf="activity.sport" />
  <div class="card-sport">{{ activity.sport | translate | uppercase}} | {{activity.$key}}</div>
  <div class="card-locked">
    <ion-icon name="lock" [hidden]="activity.shape === 'closed'"></ion-icon>
  </div>
  <div class="card-bottom">
    <div class="card-organizer-details">
      <div class="card-organizer-name">
        {{activity.organizer?.name | name:0}}
      </div>
      <div class="card-organizer-rating" *ngIf="!!activity.organizer.ratings">
        <ion-icon name="star" *ngFor="let _ of activity.organizer.ratings[activity.sport] | numberToArray"></ion-icon>
      </div>
    </div>
    <div class="card-activity-details">
      <span class="activity-name">{{activity.location.address.city}}, {{activity.location.address.country}}</span><br/>
      {{'COMMON_CLOCK' | translate}} {{activity.timestamp | date:'HH:mm'}}<br/>
      {{activity.timestamp | date:'d.M.y'}}
    </div>
  </div>
  <div class="card-join">
        <span>
            {{'COMMON_JOIN' | translate}}<br/>
            >>
        </span>
  </div>
  <div class="card-organizer-image">
    <img [src]="activity.organizer.image" *ngIf="activity.organizer.image"/>
    <!--<span class="number">#20</span>-->
  </div>
</ion-card>
