<ion-card (click)="open.emit()" class="invitation-card styled-card">
  <img src="assets/img/sports/{{invitation.activity.sport}}.jpg" class="background" *ngIf="invitation.activity.sport"/>
  <div class="card-captain">
    C
  </div>
  <div class="details">
    <app-activity-common-details [activity]="invitation.activity"></app-activity-common-details>
    <ion-row class="bottom">
      <ion-col>
        <ion-row>
          <ion-col>
            <div class="option-button reject" (click)="reject.emit(); $event.stopPropagation();">
              <span>{{'INVITATIONS_REJECT' | translate}}<br/>X</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <img [src]="invitation.user.image" class="profile-image"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{invitation.user.name | name:0}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="invitation.user.ratings">
            <ion-icon name="star" color="star"
                      *ngFor="let _ of invitation.user.ratings[invitation.activity.sport] | numberToArray"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <div class="option-button accept" (click)="accept.emit(); $event.stopPropagation();">
              <span>{{'INVITATIONS_ACCEPT' | translate}}<br/>>></span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{invitation.activity.participants?.length}} {{'ACTIVITIES_PARTICIPANTS' | translate}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-card>
