.show-activity-popover {
  .popover-content {
    background: inherit !important;
    position: fixed !important;
    left: 2% !important;
    right: 2% !important;
    top: 5% !important;
    bottom: inherit !important;
    width: 96% !important;
    max-height: 90% !important;
    box-shadow: 0 0;
  }
  ion-content.show-activity {
    color: white;
    position: relative;
    background-color: transparent;

    .top {
      padding: 10px 10px 40px;
      margin: 10px 10px 40px;
      background-color: rgba(0, 0, 0, 0.9);
    }
    .bottom {
      position: absolute;
      top: calc(100% - 80px);
      bottom: 0;
      height: 80px;
      left: calc(50% - 40px);
    }
    .top-left {
      position: absolute;
      top: 0;
      height: 40px;
      left: 0;
      width: 40px;
    }
    ion-row {
      text-align: center;
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
      h1 {
        color: cadetblue;
      }
    }
  }
  .participant-count {
    font-size: 1.5em;
    font-weight: 400;
  }
  .participant {
    display: inline-block;
    width: 60px;
    .participant-image {
      border-radius: 20px;
      width: 40px;
      height: 40px;
      margin: 0 2px;
      display: inline-block;
    }
    .participant-name {
      text-align: center;
    }
  }
  .comment {
    .comment-author {
      font-weight: 200;
    }
    .comment-text {
      text-align: left;
    }
  }
}
