<ion-content class="show-activity">
  <div class="top">
    <ion-row>
      <ion-col>
        <h1>{{activity.sport | translate}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><h4>{{activity.timestamp | date:'HH:mm'}} | {{activity.timestamp | date:'d.M.y'}}</h4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><h2>{{activity.location.city}}</h2></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><h5>{{activity.location.address}}</h5></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{activity.participants.length}} / {{activity.participants_max}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row *ngIf="isUserParticipating()">
      <ion-col>
        Comments

      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isUserParticipating()">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
             x {{participantsByLevel(5)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
             x {{participantsByLevel(4)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
             x {{participantsByLevel(3)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
             x {{participantsByLevel(2)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="star" color="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon> x {{participantsByLevel(1)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Lue lisää</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <div class="bottom" *ngIf="!isUserParticipating()">
    <div class="round-button" (click)="join();">
      <span>{{'join' | translate}}<br/>>></span>
    </div>
  </div>
  <div class="top-left">
    <div class="round-button small close" (click)="close();">
      <span>x</span>
    </div>
  </div>
</ion-content>
